body{
    background: #fffbf2;
}



div.dropdown{
    display: inline-block;
    position: relative;
}

div.dropdown button{
    background-color: #000043;
    color: #fffbf2;
    padding: 9px;
    border: none;
    cursor: pointer;
}
div.dropdown-content a{
    display: block;
    color: #fffbf2;
    text-decoration: none;
    padding: 9px;
}
div.dropdown-content{
    background-color: #000043;
    position: absolute;
    min-width: 9px;
    box-shadow: 2px 2px 2px #000028;
    display: none;
}
div.dropdown:hover div.dropdown-content{
    display: block;
}
div.dropdown-content a:hover{
    background-color: #01018b;
}

button.btn{
    background-color: #000043;
    border: none;
    border-radius: 45px;
    color: #fffbf2;
    box-shadow: -6px -6px 10px #01018b, 
                6px 6px 10px #000028;
    font-size: 25px;
    text-align: center;
    padding: 9px;
    margin: 10px;
    
}
div.dropdown:hover button.btn{
    box-shadow: 2px 2px 2px #01018b,
                -2px -2px 2px #000028;
}
.container {
  display: flex;
  justify-content: center;
  padding: 55px;
  background-color: #000043;
  border-radius: 25px;
}

.h1 {
    color: #000043;
    font-size: 17px;
    text-align: left;
    padding: 9px;
    margin: 10px;
}

.p {
     padding: 9px;
     margin: 10px;
     font-size: 11px;
}